/*

# General files
!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.zshrc
!.dmrc
!.gdbinit
!README.md
!.tmux.conf

# Files under config folder
!.config/
.config/*
!.config/copyq/copyq.conf
!.config/copyq/themes/
!.config/gh-copilot/
!.config/foot/
!.config/htop/
!.config/kwalletrc
!.config/lf/
!.config/nvim/
!.config/rofi/
!.config/sway/
!.config/systemd
!.config/pavucontrol.ini

# 1Password
!.1password/agent.sock

# Local bin
!.local/bin/

